body {
    background-color: #F9FAF8;
    font-weight: 900;
    margin: 0;
    padding: 0;
}
p {
    color: white;
    font-size: small;
    font-weight: 100;
}

h1 {
    padding-left: 60px;
    font-size: medium;
    color: white;
}
h2 {
    font-size: xx-large;
    font-weight: 900;
    color: white;
    margin: 0;
    padding-top: 20px;
}
header {
    padding-left: 90px;
    margin-bottom: 0;
    background-color: #1F2937;
    font-family: Roboto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    padding: 10px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.sign-up {
    background-color: #1F2937;
    text-align: left;
    padding-left: 500px;
    padding: 20px;
    display: flex;
    justify-content:space-around;
    gap: 20px;
    
}

.b1 {
    background-color: rgb(114, 174, 194);
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.b1:hover {
    background-color: darkblue;
}

.sign-up-img {
    margin-top: 50px;
    max-width: 30%;
    height: auto;
    border-radius: 10px;
}

.quote-container {
    background-color: rgb(230, 230, 230);
    text-align: center;
}

.quote-text {
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 0px;
    margin-top: 0px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.quote-author {
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 5px;
    margin-right: 200px;
}

.box-container {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    flex-wrap: wrap; 
    padding: 20px;
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.box-wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center; 
}

.box {
    width: 150px; 
    height: 150px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    border: 3px solid blue; 
    border-radius: 10px; 
}


.box-content {
    width: 60px; 
    height: 60px;
    background-color: white; 
    border-radius: 5px; 
}

.box-description {
    font-size: 14px; 
    color: #333; 
    margin-top: 10px; 
    width: 100%;
    font-weight: normal; 
    max-width: 150px; 
}
.cta-wrapper {
    background-color: white; 
    padding: 40px 0; 
    display: flex;
    justify-content: center; 
}

.cta {
    background-color: #1F2937; 
    color: white; 
    max-width: 600px; 
    width: 100%; 
    padding: 20px; 
    border-radius: 15px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}
.cta p {
    margin: 0; 
    font-size: 1.2em; 
}
